---
permalink: "quees/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>¿Qué es Propuestas Justicia Abierta? | Red Ciudadana</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

     <!-- que es Justicia Abierta-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row mt-40">
                <div class="col-lg-6">

                    <div style="text-align:justify">
                        <h3>¿Qué es Justicia Abierta?</h3>
                        <p style="font-size:18px;line-height:22px">
                            La Justicia Abierta pretende por medio de la innovación del sistema de 
                            justicia y los servicios que presta, resolver los problemas del ámbito 
                            de la justicia o situaciones de extrema injusticia en las que se encuentran 
                            miembros de la sociedad. 
                        </p>
                        <p style="font-size:18px;line-height:22px">
                            La Justicia Abierta es el resultado de la aplicación de la filosofía de 
                            Gobierno Abierto a los sistemas de justicia, la cual tiene como objetivo 
                            encontrar y aplicar mecanismos institucionales para mejorar la apertura 
                            de los sistemas de justicia y redefinir su actuación a través de los 
                            principios de transparencia y acceso a la información, rendición de 
                            cuentas, participación y colaboración e innovación y uso de nuevas tecnologías.
                        </p>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div style="text-align:center">
                        <img style="width:400px;height:400px" src="/assets/01_ICONOS/quees.png">
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}